<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Catalog</title>
  </head>
  <body>
    <div id="data-catalog"></div>
    <script id="config-data" type="application/json">
      {
        "defaultPageSize": 10,
        "collectionPath": "/data/catalog/<%= ProviderId %>-<%= ShortName %>-<%= Version %>",
        "cmrHost": "https://cmr.earthdata.nasa.gov",
        "providersWithLandingPages": ["GHRC_DAAC", "SEDAC", "LANCEAMSR2", "LANCEMODIS", "LM_FIRMS"]
      }
    </script>
    <script type="module" src="/src/main.tsx" defer></script>
  </body>
</html>
